@{
    ViewBag.Title = "Home Page";
}

<!-- Header -->
<header class="py-5 mb-5" style="background-image: url(https://cdn.shopify.com/s/files/1/2719/1640/files/Portulacaria_afra_var_SAP_banner_2000x.jpg?v=1560816251)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">SucatsMarkert</h1>
                <p class="lead mb-5 text-white-50">La mejor tienda de Suculentas, aquí encontrarás productos de calidad y a un buen precio.</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>What We Do</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
            <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contactos</h2>
            <hr>
            <address>
                <strong>SucatsMarkert</strong>
                <br>Avenida el Dorado, 86 - 91
                <br>Bogotá, Cundimarca
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (388) 765-7890
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">sucatsmarket@example.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://gallery.mailchimp.com/c891c0f99030b281274d958b9/images/d47a2d9f-0398-46e7-ae22-01712a505dcf.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">DIY and decor fun with succulents</h4>
                    <p class="card-text">
                        Planning any coverage on DIY plant projects or planting for patios or small spaces? Check out our DIY video on making a succulent wall.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://gallery.mailchimp.com/c891c0f99030b281274d958b9/images/903c7f59-bbe6-4be9-83ff-71814174cfb9.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Make Dad a Plant Parent</h4>
                    <p class="card-text">
                        For any story or item highlighting cool Father's Day gift ideas: We have a tasty, Dad-tailored limited-edition collection newly available on shopaltmanplants.com: the Flight of Succulents.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://gallery.mailchimp.com/c891c0f99030b281274d958b9/images/fe876bd1-bc0a-4116-9fcd-b1881ffbd8f4.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Summerific Succulents</h4>
                    <p class="card-text">
                        Living treasures such as echeverias, agaves, euphorbias, and cacti are summer-loving standouts for anyone looking for dramatic & unique color, form, and resilience.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->